# Node.js modules
#-----------------------------------
node_modules

# IDE and editor configs
#-----------------------------------
.vscode

# environment variable
#-----------------------------------
.env
